<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <settings>
      <!-- reduces sql trace noise -->
      <!--<setting name="HeartbeatInterval" value="00:00:00"/>-->
    </settings>

    <pipelines>
      <httpRequestBegin>
        <processor type="Platform.DemoData.RequestLogger, Platform" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" resolve="true" />
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>